<h1>New Game</h1>

<form method="POST" action="/games">
  <div class="row">
    <div class="col-6 ml-3">
      <input type="text" class="form-control form-control-lg" 
              name="game[name]" 
              placeholder="Game Name"
      >
    </div>
  </div>
  <input type="submit" value="Add Game">
</form>
