<!doctype html>
<html>
  <head>
    <title>Game Wishlist</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Game Wishlist!</h1>
      <%= yield %>
    </div>

  </body>
</html>